apr-1.5.2/apr.VC.db
apr-1.5.2/apr.VC.VC.opendb
apr-1.5.2/Debug
apr-1.5.2/LibR
apr-1.5.2/build/LibR
apr-1.5.2/build/Release
apr-1.5.2/Release
apr-1.5.2/build/prelibaprapp.log
apr-1.5.2/build/preaprapp.log
apr-1.5.2/vc140.idb
apr-1.5.2/.vs
apr-util-1.5.4/.vs
apr-util-1.5.4/aprutil.VC.VC.opendb
apr-util-1.5.4/aprutil.VC.db
apr-util-1.5.4/Backup1
