apr/apr.VC.db
apr/apr.VC.VC.opendb
apr/Debug
apr/LibR
apr/build/LibR
apr/build/Release
apr/Release
apr/build/prelibaprapp.log
apr/build/preaprapp.log
apr/vc140.idb
apr/.vs
apr-util/.vs
apr-util/aprutil.VC.VC.opendb
apr-util/aprutil.VC.db


